@font-face {
    font-family: 'Impact';
    src: url('../fonts/impact.ttf');
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

header {
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

header .wrapper {
    padding: 60px;
}

header img[src="img/logo.png"] { 
    height: 250px;
}

header .main-logo {
    display: flex;
    align-items: center;
}

header .main-text  {
    width: 100%;
    margin-left: 20px;
}

header .main-logo p {
    font-family: 'Impact', sans-serif;
    text-transform: uppercase;
    font-size: 64px;
}

header .main-logo p:first-child {
    color: #fff;
    -webkit-text-stroke: 2px #77CFE3;
}

header .main-logo p:last-child {
    color: #77CFE3;
    display: flex;
    justify-content: space-between;
}

header .main-logo p:last-child img{
    padding: 5px 10px;
    background-color: #77CFE3;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s ease;
}

header .main-logo p:last-child img:hover {
    background-color: #58b2c4;
}

.first-block {
    width: 85%;
    margin: 0 auto;
}

.first-block .advice {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
}

.first-block .advice:last-child {
    margin-bottom: 0;
}

.first-block .dots {
    display: flex;
    vertical-align: top;
    margin-right: 75px;
    margin-top: 5px;
}

.first-block .dots .dot {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    margin-right: 10px;
}

.first-block .dots .dot:last-child {
    margin-right: 0;
}

.first-block .dots .dot.light-blue {
    background-color: #BFE4EA;
}

.first-block .dots .dot.blue {
    background-color: #77CFE3;
}

.first-block .dots .dot.dark-blue {
    background-color: #4783C4;
}

.first-block .text-advice p {
    font-size: 24px;
    line-height: 1.2;
}

.first-block .text-advice p span {
    padding-bottom: 10px;
    font-size: 48px;
    color: #4783C4;
    font-weight: 700;
}

.second-block {
    width: 85%;
    margin: 50px auto;
}

.second-block .card-photo img {
    width: 300px;
}

.second-block .cards {
    display: flex;
    justify-content: center;
}

.second-block .card {
    width: 300px;
    text-align: center;
    margin-right: 200px;
}

.second-block .card:last-child {
    margin-right: 0;
}

.second-block .card .card-text {
    margin-top: 5px;
    line-height: 1.2;
}

.second-block p {
    font-size: 36px;
    font-weight: 700;
    color: #4783C4;
    margin-bottom: 40px;
}

.second-block .card-text {
    color: #4783C4;
    font-weight: 700;
    font-size: 15px;
}

.third-block {
    width: 85%;
    margin: 0 auto 50px;
}

.third-block form {
    display: flex;
    flex-direction: column;
}

.third-block label {
    font-size: 36px;
    font-weight: 700;
    color: #4783C4;
    margin-top: 30px;
    margin-bottom: 10px;
}

.third-block textarea {
    border: 3px solid #4783C4;
    outline: none;
    min-height: 250px;
}

.third-block textarea:focus {
    border: 3px solid #4777b0;
}

.third-block .btn-group {
    display: flex;
}

.third-block .btn {
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.third-block .btn:last-child {
    margin-right: 0;
}

.third-block .btn p {
    margin-top: 3px;
    font-size: 12px;
    color: #4783C4;
}   

.third-block input,
.third-block select {
    display: block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #4783C4;
    outline: none;
    transition: all .3s ease;
}

.third-block .send-btn {
    width: 100%;
    margin-top: 30px;
}

.third-block .send {
    width: 150px;
    height: 50px;
    background-color: #4783C4;
    border-radius: 10px;
    position: relative;
    float: right;
    color: #fff;
    outline: none;
    border: unset;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    transition: .3s ease;
}

.third-block .send:hover {
    background-color: #4783C4;
    color: #BFE4EA;
    opacity: 0.7;
}

.fourth-block {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.fourth-block p {
    font-size: 36px;
    color: #4777b0;
    font-weight: 700;
}

.fourth-block .pay-icons {
    margin-top: 20px;
}

.fourth-block .pay-icons img {
    margin-top: 15px;
    margin-right: 20px;
}

.fourth-block .pay-icons img:last-child {
    margin-right: 0;
}

.fourth-block .pay-text {
    font-size: 24px;
    color: #77CFE3;
    margin-top: 15px;
}

.fourth-block .buy-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-block .buy-btn button {
    height: 50px;
    width: 150px;
    background-color: #4783C4;
    color: #fff;
    outline: none;
    border: none;
    background-color: #4783C4;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    transition: opacity 0.3s ease
}

.fourth-block .buy-btn button:hover {
    opacity: 0.7;
}

.fourth-block .buy-btn p {
    font-size: 24px;
    color: #77CFE3;
    margin-top: 15px;
}

.fourth-block .pay-icons img {
    height: 50px;
}

footer {
    margin-top: 50px;
    background-image: url(../img/footer-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 150px 100px;
}

footer p {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

footer ul {
    margin-top: 10px;
}

footer ul li {
    margin-top: 5px;
    font-size: 22px;
}

footer .footer-cont {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 1024px) {
    header .wrapper {
        padding: 30px;
    }

    .first-block .text-advice p span {
        font-size: 36px;
    }

    .second-block .card-photo img {
        width: 200px;
    }

    .second-block .card {
        width: 200px;
        margin-right: 80px;
    }

    .second-block .card .card-text {
        font-size: 14px;
    }

    .fourth-block p,
    .third-block label,
    .second-block p {
        font-size: 29px;
    }
    
    .fourth-block .pay-text,
    .fourth-block .buy-btn p,
    .first-block .text-advice p {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    header .main-logo p {
        font-size: 60px;
    }

    header img[src="img/logo.png"] {
        height: 200px;
    }

    .first-block .dots {
        margin-right: 50px;
    }

    .second-block .card {
        margin-right: 40px;
    }

    .third-block button {
        font-size: 16px;
    }

    .third-block .btn p {
        font-size: 9.5px;
    }

    .fourth-block .buy-btn p {
        text-align: center;
    }
    
    footer ul li {
        font-size: 19px;
    }
}

@media screen and (max-width: 425px) {
    header .wrapper {
        padding: 15px;
    }
    header img[src="img/logo.png"] {
        height: 120px;
    }

    a[href="#message"] {
        display: none;
    }

    header .main-logo p {
        font-size: 35px;
    }

    header .main-logo p:last-child {
        display: block;
    }

    .first-block .dots {
        margin-right: 0;
    }

    .first-block .advice {
        display: block;
    }
    
    .first-block .text-advice p span {
        font-size: 28px;
    }

    .fourth-block .pay-text, .fourth-block .buy-btn p, .first-block .text-advice p {
        margin-top: 5px;
        font-size: 18px;
    }

    header .main-text {
        margin-left: 5px;
    }

    .second-block .cards {
        flex-direction: column;
        align-items: center;
    }

    .second-block .card {
        width: 300px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .second-block .card-photo img {
        width: 300px;
    }

    .second-block .card .card-text {
        font-size: 18px;
    }

    .third-block .btn-group {
        flex-direction: column;
    }

    .fourth-block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fourth-block .buy-btn {
        margin-top: 20px;
    }

    .fourth-block .pay-icons img {
        margin-right: 0;
    }
    
    footer .footer-cont {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .second-block {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 375px) {
    header .wrapper {
        padding: 10px;
    }
    .fourth-block p, .third-block label, .second-block p {
        font-size: 27px;
    }    

    .fourth-block .pay-icons img {
        height: 40px;
    }

    header img[src="img/logo.png"] {
        height: 100px;
    }

    header .main-logo p {
        font-size: 32px;
    }
}